.global {
    width: 95%;
    margin: 0 auto !Important;
}

body {
    background: url(gramado.jpg);
}

table {
    background: #fff !important;
    border: 5px solid #eee;
}

h1 {
    color: #fff !important;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 5px;
    border-radius: 0 10px 0 10px;
}

td.gols {
    font-weight: bold !important;
    font-size: 20px !important;
}

header.header {
    width: 90%;
    background: #fbf9fa;
    padding: 20px;
    margin: 0 auto;
    opacity: 1;
}

header.header .col-md-8 {
    text-align: center;
    font-size: 60px;
    padding-top: 30px;
    text-shadow: 2px 2px 2px #ccc;
}

header.header img {
    width: 200px;
    height: auto;
}

header.header .col-md-4:nth-of-type(1) {
    text-align: center;
}
